@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&display=swap');
  
@font-face {
    font-family: "Old Fenris";
    src: url("./assets/fonts/ce7ee1905f939d4e0f4cfcb3470c4d4e.woff2") format("woff2"),
        url("./assets/fonts/ce7ee1905f939d4e0f4cfcb3470c4d4e.woff") format("woff");
}

.color {
    background-color: #000000;
    background-color: #292a2d;
    background-color: #646569;
    background-color: #b6b7b9;
    background-color: #5a0b0e;
    background-color: #a61218;
    background-color: #e42129;
    background-color: #cfc101;
    background-color: #e6bf01;
  }
  
body {
  background-color: #25262A;
  background-image: linear-gradient(to top, rgba(37,38,42,1) 31%, rgba(166,18,24,0.3449754901960784) 100%), url('https://pbs.twimg.com/media/Fjz1eSyWQAAQYwk.jpg:large');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

p, a, div {
  font-family: 'Rajdhani', sans-serif !important;
}

h1, h2, h3, h4, h5 {
  font-family: 'Old Fenris', 'cursive';
}